In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('dataset_1.csv')
df

       duty_cycle  air_vel(m/s)
0           39.22          1.73
1           39.22          1.66
2           39.22          1.76
3           39.22          1.85
4           39.22          1.92
...           ...           ...
15484       99.22          3.52
15485       99.22          3.51
15486       99.22          3.49
15487       99.22          3.49
15488       99.22          3.50

[15489 rows x 2 columns]

In [36]:
sample_data = df[df["duty_cycle"]==39.61]
sample_data_list = list(sample_data["air_vel(m/s)"])
print("mean = " + str(sum(sample_data_list)/len(sample_data_list)))
print(" stdev = " + str(np.sqrt(np.array(sample_data_list).var())))

mean = 2.2089108910891087
 stdev = 0.021521391159118466

In [37]:
sample_data = df[df["duty_cycle"]==39.61][10:]
sample_data_list = list(sample_data["air_vel(m/s)"])
print("mean = " + str(sum(sample_data_list)/len(sample_data_list)))
print(" stdev = " + str(np.sqrt(np.array(sample_data_list).var())))

mean = 2.2079120879120877
 stdev = 0.02083511846797829

In [39]:
df = pd.read_csv('dataset_1.csv')
lst_duty = list(set(df['duty_cycle']))
lst_duty.sort()
lst_avg = [df['air_vel(m/s)'].loc[df['duty_cycle'] == lst_duty[i]].mean() for i in range(len(lst_duty))]
df_avg = pd.DataFrame(np.array([lst_duty, lst_avg]).T, columns=['duty_cycle','air_vel_avg(m/s)'])
def lookup_cycle(air_vel):
    lower_air_vels = df_avg[df_avg["air_vel_avg(m/s)"]<air_vel] 
    result = list(lower_air_vels["duty_cycle"])[-1]
    return result

In [66]:
df_avg[df_avg["duty_cycle"]>71.2]

     duty_cycle  air_vel_avg(m/s)
82        71.37          2.815446
83        71.76          2.820099
84        72.16          2.820891
85        72.55          2.818416
86        72.94          2.817921
..          ...               ...
149       97.65          3.481089
150       98.04          3.480990
151       98.43          3.474059
152       98.82          3.490198
153       99.22          3.497778

[72 rows x 2 columns]